
  .garland-wrapper{
    height: 200px;
    display: flex;
    opacity: 0;
    .garland{
      opacity: 0;
      position: relative;
      top: -9%;
      width: 20%;
      height: 95%;
      transition: all 3s;
      svg{
        top: -10px;
        position: relative;
      }
  }}